:root {
  --spacer-sm: 0.75rem;
  --spacer-md: 1rem;
  --spacer-lg: 3rem;

  --font-size-sm: 1rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 5rem;

  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
}
