.search-flights-page {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  max-width: 900px;
  padding-block: var(--spacer-lg);

  .header {
    display: flex;
    align-items: center;
    color: var(--white);
    gap: var(--spacer-lg);
    padding: var(--spacer-lg);
    justify-content: space-between;
    margin-block-end: var(--spacer-md);
    background: var(--gradient-flights);
    border-radius: var(--border-radius-md);
  }

  img {
    max-height: 100px;
  }

  .title {
    font-size: var(--font-size-lg);
  }
}
